<div class="mt-5">
    <form method="post">
        <div class="form-group">
            <label for="searchInput">Từ khóa</label>
            <input type="text" name="q" class="form-control" id="searchInput" placeholder="Nhập từ khóa">
        </div>
        <div class="form-group">
            <label for="gender">Giới tính</label>
            <select name="gender" class="form-control" id="genderInput">
                <option value="">--Chọn giới tính</option>
                <option value="male">nam</option>
                <option value="female">nữ</option>
                <option value="other">khác</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
    </form>
</div>